<mat-toolbar color="primary">
  <span><img src="/assets/images/kurs.jpg" height=30 width=41></span>
  <a mat-button><span class="fa fa-home fa-lg"></span> Haus</a>
  <a mat-button><span class="fa fa-info fa-lg"></span> Über</a>
  <a mat-button><span class="fa fa-list fa-lg"></span> Kurse</a>
  <a mat-button><span class="fa fa-address-card fa-lg"></span> Kontakt</a>
</mat-toolbar>

<div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="50%">
    <h1>VEREIN VERFOLGT SPRACHKOMMISSION</h1>
    <p>Als Verein Verfolgt Sprachkommission produzieren wir seit 
      Anfang 2019 Projekte und setzen das Sprachenlernen systematisch um.</p>
  </div>
  <div fxFlex fxFlex.gt-sm="20%">
    <img src="/assets/images/kurs.jpg" alt="Logo" height=250 width=500>
  </div>
  <div fxFlex></div>
</div>