<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>Kontaktiere uns</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <h3>Standortinformationen</h3> 
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
        <h4>Unsere Adresse</h4>
        <address style="text-size: 80%">
          Schaffhauserstrasse 470<br> 8052 <br> Zürich<br>
          <i class="fa fa-phone"></i>: +41 77 777 77 77<br>
          <i class="fa fa-fax"></i>: +41 77 777 88 88<br>
          <i class="fa fa-envelope"></i>:
          <a href="https://vereinverfolgt.ch/">dil@vereinverfolgt.ch</a>
        </address>
        <p></p>
        <div>
          <a mat-raised-button href="tel:+777777777"><i class="fa fa-phone"></i> Rufen</a>
          <a mat-raised-button><i class="fa fa-skype"></i> Skype</a>
          <a mat-raised-button href="https://vereinverfolgt.ch/"><i class="fa fa-envelope-o"></i> Email</a>
        </div>
        </div>
      <div fxFlex="40">
        <h4>Karte unseres Standortes</h4>
      </div>
    </div>
  </div>
</div>